<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div class="container">
            <di class="row">
                <div>
                    <div class="col-md-6 offset-md-3 text-center"> 
                        <h3> <%= product.title %> </h3>
                        <div>Price: <strong>Rs. <%= product.price %> </strong>  </div> 
                    </div>
                </div>
            </di>
        </div>
    </main>
</body>
</html>